version: '3'
services:
    db:
        image: mariadb:10.2
        environment:
            - MYSQL_ROOT_PASSWORD=root
        ports:
            - "3306:3306"
        volumes:
            - "mariadb:/var/lib/mysql"
            - "./config/mysqld.cnf:/etc/mysql/conf.d/mysqld.cnf:ro"
    web:
        build: .
        depends_on:
            - db
        environment:
            - DEV_UID=1000
            - NGINX_UID=127
            - NGINX_GID=127
            - XDEBUG_CONFIG=remote_connect_back=1
        links:
            - db:db.store.local
        ports:
            - "80:80"
        volumes:
            - "./magento:/var/www/html"
            - "./magento/nginx.conf.sample:/etc/nginx/magento.conf.sample"
            - "./config/default.conf:/etc/nginx/sites-available/default.conf"
            - "./config/certificates:/usr/local/share/ca-certificates"
volumes:
    mariadb:
        external: true
